/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

*:focus {
    box-shadow: 0 0 10px blue;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
.edit {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /*pour la largeur complete de l'ecran*/
    position: absolute; /* pour sortir du flux*/
    left: 0;
    top: 0;
}

.edit a {
    color: white;
    cursor: default;
}

.edit a:visited {
    color: white;
}

/* Modal */

.modal {
    display: flex;
    position: fixed;
    align-items: center; /* centre l'élément verticalement */
    justify-content: center; /* centre l'élément horizontalement*/
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    animation: fadeIn .3s both;
}
.modal-content {
    padding: 10px; /* Réduit les espaces internes */
    font-size: 14px; /* Réduit la taille du texte si nécessaire */
}


.modal-wrapper {
    position: fixed;
    top: 45%; /* Place au milieu de l'écran */
    left: 50%;
    transform: translate(-50%, -40%); /* Ajuste pour descendre plus bas */
    width: 400px; /*Largeur fixe pour une meilleure lisibilité */
    max-width: 80%; /* Adaptatif aux petits écrans */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal-wrapper hr {
        margin: 50px 0 10px 0;
       width: 100%;
    justify-self: center;
}


.close-button-container {
    display: flex;
    justify-content: end;
    right: 10px;
}

/* Boutons de fermeture et retour */
.close-button-container, .return-button-container {
    position: absolute;
    top: 10px;
  }

.js-modal-close {
    background-color: white;
    border: none;
    font-weight: normal;
    font-size: 15px;
    cursor: pointer;
}
.js-modal-return {
    background-color: white;
    border: none;
    cursor: pointer;
}

button.js-modal-close,
button.js-modal-return {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #333333;
  cursor: pointer;
}

.modal[aria-hidden="true"] {
    animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
    animation-name: slideToBottom;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slideFromTop {
    from { transform: translateY(-50px); }
    to { transform: translateY(0px); }
}

@keyframes slideToBottom {
    from { transform: translateY(0px); }
    to { transform: translateY(50px); }
}

.modal-button-container {
    display: flex;
    justify-content: center;
}

.add-photo {
    padding: 10px 20px;
    width: 220px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	font-family: 'Syne';
	color: white;
    background-color: #1D6154;
	cursor: pointer;
    margin-top: 20px;
}
.add-file {
    padding: 10px 20px;
    width: 250px;
	border: 1px solid #B3B3B3;
	border-radius: 25px;
	font-family: 'Syne';
	color: white;
    background-color: #B3B3B3;
	cursor: pointer;
    margin-top: 20px;
}

.js-add-photo-file {
    display: flex; /*Alignement flexible */
    flex-direction: column; /*Aligne le contenu verticalement
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    width: 100%; /* Même largeur que les champs texte */
    max-width: 400px; /* Limite pour éviter une taille excessive */
    height: 200px; /* Hauteur augmentée pour être plus grand */
    border: 2px dashed #ccc; /* Bordure en pointillés */
    border-radius: 8px; /* Coins arrondis */
    /* background-color: #E8F1F6; Fond clair */
    cursor: pointer; /* Curseur pointeur */
    margin: auto; /* Espacement vertical et centrage */
    text-align: center; /* Centre le texte */
    font-size: 0.6rem; /*Taille du texte */
}

label.js-add-photo-file {
    padding: 10px 20px;
    width: 150px;
    height: 30px;
	border: 1px solid #CBD6DC;
	border-radius: 25px;
	font-family: 'work Sans';
	color: #306685;
    background-color: #CBD6DC;
	cursor: pointer;
    margin-bottom: 10px;      /* Espacement en dessous du bouton */
}

/* Icône */
.image-bouton i {
    font-size: 50px;         /* Taille de l'icône */
    color: #B9C5CC;             /* Couleur de l'icône */
    margin-bottom: 10px;     /* Espacement en dessous de l'icône */
  }

.js-add-photo-file i {
    font-size: 4rem; /* Agrandit l'icône */
    color: #CBD6DC;
    margin-bottom: 15px; /*Espace sous l'icône */
}

.js-add-photo-file input {
    display: none; /*Masque le champ input de type file */
}

.js-add-photo-file p {
    font-size: 0.9rem; /* Ajuste la taille du texte de description */
    color: #666; /* Couleur de texte plus douce */
    margin: 0;
}

.fa-image {
    width: 120px;
    font-size: 4em;
	color: #B9C5CC;
    margin-top: 5px;
}

.file-upload-container {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    align-items: center;    /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    text-align: center;      /* Centre le texte */
    padding: 5px 20px;
	font-family: 'Syne';
	color: #B3B3B3;
    background-color: #E8F1F6;
	cursor: pointer;
    width: 100%;  /* S'adapte au conteneur parent */
  max-width: 300px;  /* Largeur maximale pour éviter que le contenu s'étale */
  margin: 0 auto; /* Centre horizontalement dans la page */
}

.file-upload-container p {
font-size: 0.5em;
color: #444444;
margin-bottom: 10px;      /* Espacement en dessous du bouton */

}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.image-container .overlay-icon {
    position : absolute;
    top : 6px;
    right : 6px;
    font-size: 12px;
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 4px;
    border-radius: 10%;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    max-width: 1140px;
    margin:auto;
    font-family: 'Work Sans' ;
    font-size: 14px;
    margin-top: 70px;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}
section {
    margin: 80px 0
}

h1{
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1 > span {
    font-family: 'Work Sans';
    font-size:10px;
    letter-spacing: 0.1em;
;
}

h2{
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}

h3 {
    text-align: center;
    display: block;
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 35px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}
#portfolio h2 {
    text-align: center;
    /* margin-bottom: 1em; */
}
.div-container {
    min-width: 550px;
	width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 35px auto;
}
.div-container > * {
	padding: 10px 20px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	font-family: 'Syne';
	color: #1D6154;
	cursor: pointer;
}
.div-container > *:hover{
background-color: #1D6154;
color: white;
}

.container {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}
.container h2 {
text-align: center;
}
.container p {
/* margin-bottom: 25px; */
margin-top: 5px;
margin-left: 10px;
}

.filter {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .filter:hover {
    background-color: #1D6154;
  }
  
  .filter.active {
    background-color: #1D6154; /* Couleur de fond pour le filtre sélectionné */
    color: white; /* changer la couleur du texte */
  }  

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}

.gallery-modal {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}
.file-modal {
    width: 100%;
    display: flex;
}

.gallery-modal img {
    width: 100%;
}

a {
text-decoration : none;
color: black;
}

a :visited {
    color: black;
}

#contact {
    width: 50%;
margin: auto;
}
#contact > * {
    text-align: center;

}
#contact h2{
    margin-bottom: 20px;
}
#contact form {
    text-align: left;
    margin-top:30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    margin: 2em 0 1em 0;
}
#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#modal {
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  z-index: 1000;
}

#add-photo-form form {
    text-align: left;
    margin-top:30px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

#add-photo-form input {
    height: 50px;
    font-size: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* #add-photo-form label {
    margin: 2em 0 1em 0;

} */

button.js-add-photo-file p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #666666;
  }

#photo-categorie select {
    height: 50px;
    font-size: 1em;
    border: none;
    margin: 2em 0 1em 0;

}

/* Input de fichier (caché) */
input[type="file"] {
    display: none;
  }
  
  /* Label et champs du formulaire */
  label {
    font-size: 1rem;
    color: #333333;
    display: block;
    margin: 10px 0 5px;
  }
  
  input[type="text"], select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .input-field {
    margin-bottom: 5px; /* Réduit l'espace en dessous de chaque champ */
}

.login {
    cursor: pointer;
}

#LogIn {
    width: 50%;
margin: auto;
}
#LogIn > * {
    text-align: center;

}
#LogIn h2{
    margin-bottom: 20px;
}
#LogIn form {
    text-align: left;
    margin-top:30px;
    display: flex;
    flex-direction: column;
}

#LogIn input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#LogIn label {
    margin: 2em 0 1em 0;
}
#LogIn textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin : 2em auto ;
    width: 180px;
    text-align: center;
    border-radius: 60px ;
    cursor: pointer;
}

.motDePasseOublie {
    display: block; /* Aligne le label sur une ligne indépendante */
    margin-top: 15px; /* Espacement au-dessus du label */
    text-align: center; /* Centre le texte du label */
    font-size: 14px; /* Optionnel, ajuster la taille du texte */
    color: #007BFF; /* Couleur du texte */
}

.error-login {
    background-color: #B84947;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em
}
  
